<!-- Loading bar -->
<!--<fuse-loading-bar></fuse-loading-bar>-->

<!-- Navigation --> <!-- dark bg-gray-900 -->
<ng-container *ngIf="isMenuVisible">
    <fuse-vertical-navigation
        class="bg-primary-ir-950 print:hidden "
        [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'"
        [navigation]="navigation"
        [opened]="!isScreenSmall"> <!-- [navigation]="navigation.default" -->
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <div class="flex flex-row items-center mb-4 justify-between w-full">
                <!-- space -->
                <!--<div class="w-40 h-24" style="background-color: #1226AA;">&nbsp;</div>-->
                <!-- Logo -->
                <div class="items-center w-full p-2 pl-6">
                    <img
                        class="w-30"
                        src="assets/images/logo/logo.svg">
                </div>
                <!-- Components -->
                <!-- <div class="flex items-center ml-auto">
                    <notifications></notifications>
                    <user [showAvatar]="false"></user>
                </div> -->
            </div>
            <!-- User -->
            <!-- <div class="flex flex-col items-center w-full p-4">
                <div class="relative w-24 h-24">
                    <img
                        class="w-full h-full rounded-full"
                        *ngIf="user.avatar"
                        [src]="user.avatar"
                        alt="User avatar">
                    <mat-icon
                        class="icon-size-24"
                        *ngIf="!user.avatar"
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </div>
                <div class="flex flex-col items-center justify-center w-full mt-6">
                    <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
                        {{user.name}}
                    </div>
                    <div class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                        {{user.email}}
                    </div>
                </div>
            </div> -->
        </ng-container>
        <!-- Navigation footer hook -->
        <!-- <ng-container fuseVerticalNavigationContentFooter>
            <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
                <img
                    class="max-w-36"
                    src="assets/images/logo/logo-text-on-dark.svg">
            </div>
        </ng-container> -->
    </fuse-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-64">

    <!-- Header -->
    <ng-container *ngIf="isMenuVisible">
        <div class="relative flex flex-0 items-center w-full h-16 px-4 sm:px-8 md:px-8 z-49 bg-card dark:bg-transparent print:hidden">
            <!-- Navigation toggle button -->
            <button
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
            <!-- Logo -->
            <div class="flex flex-row items-center">
                <div class="hidden md:flex w-full">
                    <span class="text-lg ml-4 text-default-ir-950">Portal administrativo</span>
                </div>
                <img class="w-40 sm:w-40" src="assets/images/logo/logo-ir.svg">
            </div>
            <!-- Components -->
            <div class="flex items-center pl-1 ml-auto space-x-0 mr-3">
                <notifications></notifications>
                <user [showAvatar]="true"></user>
            </div>
        </div>
    </ng-container>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full bg-card dark:bg-transparent">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!--<div class="hidden md:relative md:flex flex-0 items-center max-w-44 px-0 md:px-0 z-99 bg-transparent print:hidden -mt-44">
        <div class="w-20">
            <img src="assets/images/layout/ir-bottom-left.svg">
        </div>
    </div>-->

    <!-- Footer -->
    <!-- <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Intercorp &copy; {{currentYear}}</span>
    </div> -->

</div>
